<div class="songs-list">
  <h3>
    <ng-content></ng-content>
  </h3>
  <ul>
    <li *ngFor="let song of list; index as i">
      <p>{{ song.artist }}</p>
      <span>{{ song.track }}</span>
      <div
        class="songs-list__favorite"
        [class.active]="song.favorite"
        (click)="toggleSong(i, 'favorite')"
      ></div>
      <div
        class="songs-list__listened"
        [class.active]="song.listened"
        (click)="toggleSong(i, 'listened')"
      ></div>
    </li>
  </ul>
</div>
